.result {
	padding: 0.5em 0;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 2em;
	margin-bottom: 1em;
	border-radius: 0.25em;
	position: relative;
}

.originalLink {
	color: hsl(257, 27%, 26%);
	display: inline-block;
	max-width: 60%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

hr {
	width: 100%;
	display: none;
}

.copyBtn {
	background-color: hsl(180, 66%, 49%);
	color: hsl(0, 0%, 100%);
	border: none;
	cursor: pointer;
	padding: 0.6em 1.5em;
	border-radius: 0.3em;
	font-size: 0.8rem;
	width: 6rem;
}

.copyBtn.copied {
	background-color: hsl(257, 27%, 26%);
}

.copyBtn.copied:hover {
	background-color: hsl(258, 26%, 39%);
}

.newLink {
	color: hsl(180, 68%, 43%);
	margin-left: auto;
	margin-right: 1em;
}
